 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-crimson">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Dewdrop Games is a micro team of ambitious and adventurous video game craftsmasters. Though you may call us arists, suit yourself.</p>
                </div>
                <div class="col-lg-4">
                    <p>We're working on bringing you the best games we can imagine. We're here because it's our dream job, and we're happy do id.</p>
                </div>
        </div>
    </section>